In [52]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv("train.csv")

In [54]:
y=df.Survived
df=df.drop(['Survived'],axis=1)

In [55]:
df = df.select_dtypes(exclude=['object'])

In [56]:
df.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250
3            4       1  35.0      1      0  53.1000
4            5       3  35.0      0      0   8.0500

In [57]:
from sklearn.impute import SimpleImputer
df_imputer= SimpleImputer(missing_values=np.nan, strategy='mean', fill_value=0)

In [58]:
df_imputed = pd.DataFrame(df_imputer.fit_transform(df))
df_imputed.describe()

                0           1           2           3           4           5
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean   446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std    257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min      1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%    223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%    446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%    668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max    891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [59]:
model = RandomForestRegressor(random_state=0)
df_imputed

         0    1          2    3    4         5
0      1.0  3.0  22.000000  1.0  0.0    7.2500
1      2.0  1.0  38.000000  1.0  0.0   71.2833
2      3.0  3.0  26.000000  0.0  0.0    7.9250
3      4.0  1.0  35.000000  1.0  0.0   53.1000
4      5.0  3.0  35.000000  0.0  0.0    8.0500
5      6.0  3.0  29.699118  0.0  0.0    8.4583
6      7.0  1.0  54.000000  0.0  0.0   51.8625
7      8.0  3.0   2.000000  3.0  1.0   21.0750
8      9.0  3.0  27.000000  0.0  2.0   11.1333
9     10.0  2.0  14.000000  1.0  0.0   30.0708
10    11.0  3.0   4.000000  1.0  1.0   16.7000
11    12.0  1.0  58.000000  0.0  0.0   26.5500
12    13.0  3.0  20.000000  0.0  0.0    8.0500
13    14.0  3.0  39.000000  1.0  5.0   31.2750
14    15.0  3.0  14.000000  0.0  0.0    7.8542
15    16.0  2.0  55.000000  0.0  0.0   16.0000
16    17.0  3.0   2.000000  4.0  1.0   29.1250
17    18.0  2.0  29.699118  0.0  0.0   13.0000
18    19.0  3.0  31.000000  1.0  0.0   18.0000
19    20.0  3.0  29.699118  0.0  0.0    7.2250
20    21.0  2.0  35.000000  0.0  0.0   26.0000
21    22.0  2.0  34.000000  0.0  0.0   13.0000
22    23.0  3.0  15.000000  0.0  0.0    8.0292
23    24.0  1.0  28.000000  0.0  0.0   35.5000
24    25.0  3.0   8.000000  3.0  1.0   21.0750
25    26.0  3.0  38.000000  1.0  5.0   31.3875
26    27.0  3.0  29.699118  0.0  0.0    7.2250
27    28.0  1.0  19.000000  3.0  2.0  263.0000
28    29.0  3.0  29.699118  0.0  0.0    7.8792
29    30.0  3.0  29.699118  0.0  0.0    7.8958
..     ...  ...        ...  ...  ...       ...
861  862.0  2.0  21.000000  1.0  0.0   11.5000
862  863.0  1.0  48.000000  0.0  0.0   25.9292
863  864.0  3.0  29.699118  8.0  2.0   69.5500
864  865.0  2.0  24.000000  0.0  0.0   13.0000
865  866.0  2.0  42.000000  0.0  0.0   13.0000
866  867.0  2.0  27.000000  1.0  0.0   13.8583
867  868.0  1.0  31.000000  0.0  0.0   50.4958
868  869.0  3.0  29.699118  0.0  0.0    9.5000
869  870.0  3.0   4.000000  1.0  1.0   11.1333
870  871.0  3.0  26.000000  0.0  0.0    7.8958
871  872.0  1.0  47.000000  1.0  1.0   52.5542
872  873.0  1.0  33.000000  0.0  0.0    5.0000
873  874.0  3.0  47.000000  0.0  0.0    9.0000
874  875.0  2.0  28.000000  1.0  0.0   24.0000
875  876.0  3.0  15.000000  0.0  0.0    7.2250
876  877.0  3.0  20.000000  0.0  0.0    9.8458
877  878.0  3.0  19.000000  0.0  0.0    7.8958
878  879.0  3.0  29.699118  0.0  0.0    7.8958
879  880.0  1.0  56.000000  0.0  1.0   83.1583
880  881.0  2.0  25.000000  0.0  1.0   26.0000
881  882.0  3.0  33.000000  0.0  0.0    7.8958
882  883.0  3.0  22.000000  0.0  0.0   10.5167
883  884.0  2.0  28.000000  0.0  0.0   10.5000
884  885.0  3.0  25.000000  0.0  0.0    7.0500
885  886.0  3.0  39.000000  0.0  5.0   29.1250
886  887.0  2.0  27.000000  0.0  0.0   13.0000
887  888.0  1.0  19.000000  0.0  0.0   30.0000
888  889.0  3.0  29.699118  1.0  2.0   23.4500
889  890.0  1.0  26.000000  0.0  0.0   30.0000
890  891.0  3.0  32.000000  0.0  0.0    7.7500

[891 rows x 6 columns]

In [60]:
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [61]:
model.fit(df_imputed,y)

C:\Users\Sherrinford\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [62]:
df_test=pd.read_csv("test.csv")

In [63]:
df_test=df_test.select_dtypes(exclude=['object'])

In [64]:
df_test.head()
p_id=df_test['PassengerId']

In [65]:
df_test_imputer = SimpleImputer(missing_values=np.nan, strategy='mean', fill_value=0)

In [66]:
df_test_imputed = pd.DataFrame(df_test_imputer.fit_transform(df_test))

In [67]:
df_test_imputed.head()

       0    1     2    3    4        5
0  892.0  3.0  34.5  0.0  0.0   7.8292
1  893.0  3.0  47.0  1.0  0.0   7.0000
2  894.0  2.0  62.0  0.0  0.0   9.6875
3  895.0  3.0  27.0  0.0  0.0   8.6625
4  896.0  3.0  22.0  1.0  1.0  12.2875

In [68]:
predictions=pd.DataFrame()
predictions["PassengerId"]=p_id
predictions["Survived"]=np.round(model.predict(df_test_imputed)).astype('int')

In [69]:
predictions.to_csv('submission.csv', index=False)

In [70]:
ans = pd.read_csv("gender_submission.csv")

In [71]:
ans= ans['Survived']

In [72]:
ans.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [73]:
from sklearn.metrics import mean_absolute_error

In [74]:
mean_absolute_error(predictions,ans)

ValueError: y_true and y_pred have different number of output (2!=1)